[submodule "la93xx_freertos"]
	path = la93xx_freertos
	url = https://github.com/nxp-qoriq/la93xx_freertos
[submodule "LimeSuiteNG"]
	path = LimeSuiteNG
	url = ssh://git@github.com/myriadrf/LimeSuiteNG-INTERNAL
